h1 {
  font-size: 10em;
  text-align: center;
  font-family: 'Play', sans-serif;
}

p {
   font-family: 'Volkhov', serif;
  text-align: center;
  font-family: 'Play', sans-serif;
}

img {
  display: block;
  margin: 0 auto;
  padding-bottom: 1.5em;
}

